*{
    padding: 0;
}

body{
    min-height: 80vh;
    font-family: 'Oswald', sans-serif;
    background-color: black;
}

.main-container{
    width: 35%;
    min-width: 420px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
}

.heading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    width: 100%;
    padding-bottom: 1em;
}

.heading{
    font-size: 1.2em;
}

input[type = "number"]{
    padding: .2em 0;
    margin-bottom: .6em;
    width: 20%;
    text-align: center;
    font-size: 2em;
    border: 0;
    border-radius: 4px;
}

.convert-btn{
    padding: .4em .8em;
    border-radius: 6px;
    border: 0;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2em;
    cursor: pointer;
}

.conversion-value{
    font-size: 1.2em;
}

.length-container,
.volume-container,
.mass-container{
    text-align: center;
    background-color: #fff;
    width: 90%;
    margin: .8em 0;
}